{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!
{% endblock %}

{% block body %}
	{% if categoriesList is not empty %}
		<ul>
			{% for categorie in categoriesList %}
				<li>
					<a href={{ path("singleCategorie", {categorie: categorie.id}) }}>{{ categorie.title }}</a>
				</li>
			{% endfor %}
		</ul>
	{% else %}
        <p>Il n'y a pas de catégories pour le moment</p>
	{% endif %}
{% endblock %}
